.navContainer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    /* width: 200px; */
    overflow: auto;
}
.navContainer a{
color: red;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 5px 3px
}
.navContainer a:hover{
    background-color : black;
    font-weight: 700;
    color: white;
}
li{
    float: left;
}
